<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<% panels = [
  {
    color: "primary",
    icon: "fa-folder",
    number: current_user.accounts_that_are("New"),
    text: "New Accounts!"
  },
  {
    color: "yellow",
    icon: "fa-folder-open",
    number: current_user.accounts_that_are("Open"),
    text: "Open Accounts!"
  },
  {
    color: "green",
    icon: "fa-check-circle-o",
    number: current_user.accounts_that_are("Bound"),
    text: "Bound!"
  }] %>

<div class="row">
  <% panels.each do |panel| %>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-<%= panel[:color] %>">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-5x <%= panel[:icon] %>"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= panel[:number] %></div>
                      <div><%= panel[:text] %></div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
    </div>
  <% end %>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Open Accounts Due This Month</h3>
            </div>
            <div class="panel-body">
              <%= column_chart Account
                    .group_by_day(:effective_date, range: Time.now..1.month.from_now)
                    .where("user_id = ?", current_user.id)
                    .count,
                    colors: ["#f0ad4e", "#999"] %>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<%= content_tag :div, class: "temp_information", data: {temp: current_user.accounts_for_next_month} do %>
<% end %>
