<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<% panels = [
  {
    color: "primary",
    icon: "fa-folder",
    number: current_user.accounts_that_are("New"),
    text: "New Accounts!"
  },
  {
    color: "yellow",
    icon: "fa-folder-open",
    number: current_user.accounts_that_are("Open"),
    text: "Open Accounts!"
  },
  {
    color: "green",
    icon: "fa-check-circle-o",
    number: current_user.accounts_that_are("Bound"),
    text: "Bound!"
  }] %>

<div class="row">
  <% panels.each do |panel| %>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-<%= panel[:color] %>">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-5x <%= panel[:icon] %>"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= panel[:number] %></div>
                      <div><%= panel[:text] %></div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Accounts Due within 30 Days</h3>
            </div>
            <div class="panel-body">
              <%= column_chart Account
                      .group_by_day(:effective_date, range: Time.now..1.month.from_now)
                      .where("user_id = ?", current_user.id)
                      .count,
                      colors: ["#f0ad4e", "#999"] %>
              </div>
            </div>
        </div>
    </div>
    <!-- Notifications -->
    <div class="col-lg-6">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
          </div>
          <div class="panel-body">
              <div class="list-group">
              <% events = current_user.user_events %>
              <% time = 0 %>
              <% events.each do |event| %>
                  <% if event[0] == "New" %>
                    <a href="#" class="list-group-item">
                        <span class="badge"><%= time += rand(3) %> days ago</span>
                        <i class="fa fa-fw fa-calendar"></i> New Account: <%= event[1] %>
                    </a>
                  <% else %>
                    <a href="#" class="list-group-item">
                        <span class="badge"><%= time += rand(3) %> days ago</span>
                        <i class="fa fa-fw fa-money"></i> Bound ($<%= event[2] %>) <%= event[1] %>
                    </a>
                  <% end %>
              <% end %>
              </div>
              <div class="text-right">
                  <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
              </div>
          </div>
      </div>
    </div>
</div>
<!-- /.row -->
