<p id="notice"><%= notice %></p>

<h1><%= @account.customer.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Sic:</strong>
  <%= @account.sic.code %> - <%= @account.sic.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status.name %>
</p>

<hr>

<% policies = @account.get_prioritized_quotes %>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#quotes">Quotes</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Compare
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a data-toggle="tab" href="#compare">Full</a></li>
      <li><a data-toggle="tab" href="#compare-sic">By Class</a></li>
    </ul>
  </li>
  <li><a data-toggle="tab" href="#class-metrics">Metrics</a></li>
  <!-- <li><a data-toggle="tab" href="#compare-sic">Class-Specific</a></li> -->

</ul>

<div class="tab-content">
  <div id="quotes" class="tab-pane fade in active">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Quote</th>
                    <th>Insurer</th>
                    <th>Received at</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <% @account.quotes.each do |quote| %>
                <tr>
                  <td><%= link_to "", account_quote_path(@account, quote), class: "glyphicon glyphicon-file", style: "color:red; font-size: 2.0em"%></span></td>
                  <td><%= quote.insurer.name %></td>
                  <td><%= quote.created_at %></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
  <div id="compare" class="tab-pane fade">
    <%= render "compare", policies: policies %>
  </div>
  <div id="compare-sic" class="tab-pane fade">
    <%= render "compare_sic", policies: policies %>
  </div>
  <div id="class-metrics" class="tab-pane fade">
    <%= render "class_metrics" %>
  </div>
</div>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'New Quote', new_account_quote_path(@account) %> |
<%= link_to 'Back', accounts_path %>
