<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @account.customer %>
</p>

<p>
  <strong>Sic:</strong>
  <%= @account.sic %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
